 /* mini reset - remove if you use a reset or normilize CSS */
* {
	margin: 0;
	padding: 0;
	outline: 0;
}

/* STRUCTURE */

	html, body {
		width: 100%;
		height: 100%;
	}

	body { 
		white-space: nowrap; 	/* disable the wrapping of the space between articles */
	}

	.page-container {
		font-size: 0; 			/* remove the white spaces between inline-block elements */
		width: 100%;
		height: 100%;
		     -o-transform-origin: 0 0;
		    -ms-transform-origin: 0 0;
		   -moz-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
				transform-origin: 0 0;
		     -o-transform: translateZ(0);
		    -ms-transform: translateZ(0);
		   -moz-transform: translateZ(0);
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
		     -o-backface-visibility: hidden;
		    -ms-backface-visibility: hidden;
		   -moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
		     -o-transition:      -o-transform 0.5s cubic-bezier(.77, .10, .22, 1);
		    -ms-transition:     -ms-transform 0.5s cubic-bezier(.77, .10, .22, 1);
		   -moz-transition:    -moz-transform 0.5s cubic-bezier(.77, .10, .22, 1);
		-webkit-transition: -webkit-transform 0.5s cubic-bezier(.77, .10, .22, 1);
				transition:         transform 0.5s cubic-bezier(.77, .10, .22, 1);
	}

/* PAGES (COLUMNS) */

	/* base page */
	.page {
		width: 100%;
		height: 100%;

		position: relative;
		     -o-transform: translateZ(0);
		    -ms-transform: translateZ(0);
		   -moz-transform: translateZ(0);
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
	}

	/* page and page thumb aignment */
	.page, .page-thumb {
		font-size: 16px; 		/* reset the regular font size, in the old way… */
		font-size: 1rem; 		/* and in the modern way */
		display: inline-block;	/* let the block elements stay on the same line */
								/* used together the white-space: nowrap; declaration */
								/* the elements doesn't break the line */
		vertical-align: top; 	/* fix the default alignement for the inline-block elements (default: baseline) */
								/* if different from "top" set Flowtime.slideWithPx(true) */
	}

/* SUB PAGES */

	/* base sub page */
	.sub-page {
		   -moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		width: 100%;
		height: 100%;
		padding: 2em;
		position: relative;
		     -o-transform: translateZ(0);
		    -ms-transform: translateZ(0);
		   -moz-transform: translateZ(0);
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
	}

	/* sub page thumb */
	.sub-page-thumb {
		   -moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		width: 1rem;
		height: 0.7rem;
		margin-right: 1px;
		margin-bottom: 1px;
		background-color: rgba(0,0,0,0.7);
		cursor: pointer;
		     -o-transition: background-color 0.5s;
		    -ms-transition: background-color 0.5s;
		   -moz-transition: background-color 0.5s;
		-webkit-transition: background-color 0.5s;
		        transition: background-color 0.5s;
	}

	.sub-page-thumb:hover {
		background-color: rgba(255,255,255,0.7);
	}

	.sub-page-thumb.actual {
		background-color: rgba(255,255,255,0.5);
		border: 1px solid #ffffff;	
	}

	/* sub pages in overview mode */
	.ft-overview .sub-page {
		opacity: 0.7;
		cursor: pointer;
		     -o-transition: all 0.5s cubic-bezier(.77, .10, .22, 1);
		    -ms-transition: all 0.5s cubic-bezier(.77, .10, .22, 1);
		   -moz-transition: all 0.5s cubic-bezier(.77, .10, .22, 1);
		-webkit-transition: all 0.5s cubic-bezier(.77, .10, .22, 1);
				transition: all 0.5s cubic-bezier(.77, .10, .22, 1);
		     -o-transform: scale(0.95);
		    -ms-transform: scale(0.95);
		   -moz-transform: scale(0.95);
		-webkit-transform: scale(0.95);
				transform: scale(0.95);
		     -o-transform-origin: 50% 50%;
		    -ms-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
	}

	.ft-overview .sub-page.actual {
		opacity: 0.3;
	}

	.ft-overview .sub-page.hilite {
		opacity: 1;
	}

	.ft-overview .sub-page:hover {
		opacity: 1;
	}

	.ft-overview .sub-page * {
		pointer-events: none;
	}

/* DEFAULT PROGRESS */

	.ft-default-progress {
		position: fixed;
		bottom: 10px;
		left: 10px;
		z-index: 1000;
		opacity: 0.3;
		     -o-transition: opacity 0.5s;
		    -ms-transition: opacity 0.5s;
		   -moz-transition: opacity 0.5s;
		-webkit-transition: opacity 0.5s;
		        transition: opacity 0.5s;
	}

	.ft-default-progress:hover {
		opacity: 1;
	}

	/* default progress disappears when in overview mode */
	.ft-overview .ft-default-progress {
		opacity: 0;
		pointer-events: none;
	}

/* FRAGMENTS */
	.fragmentsList {

	}

	.fragment {
		opacity: 0;
		     -o-transition: all 0.3s cubic-bezier(.77, .10, .22, 1);
		    -ms-transition: all 0.3s cubic-bezier(.77, .10, .22, 1);
		   -moz-transition: all 0.3s cubic-bezier(.77, .10, .22, 1);
		-webkit-transition: all 0.3s cubic-bezier(.77, .10, .22, 1);
				transition: all 0.3s cubic-bezier(.77, .10, .22, 1);
	}

	.fragment.revealed, .fragment.revealed-temp {
		opacity: 1;
	}

/* JAVASCRIPT NAVIGATION HOOKS */

	.ft-absolute-nav {
		overflow: hidden;
	}