.flowtime .ft-page {
	overflow: hidden;
}

.sub-page {
	width: 100%;
	height: 100%;
	padding: 2rem;
	position: absolute;
	top: 0;
	left: 100%;
	background-color: grey;
	     -o-transition: left 0.3s;
	   -moz-transition: left 0.3s;
	-webkit-transition: left 0.3s;
	        transition: left 0.3s;
}

.sub-page.active {
	left: 0;
}