/**
 * EYE CANDY
 * edit or remove and put your beauty CSS here
 */

html {
	background-color: #222222;
}

body {
	font-family: "ChunkFiveRegular", serif;
	color: #ffffff;
	text-shadow: 1px 1px 7px rgba(0,0,0,0.9);
	background-image: url(../img/irongrip.png); /* from subtlepatterns.com */
}

.main-title {
	font-size: 32px;
	font-size: 2rem;
	padding: 2% 1em;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
}

.sub-page {
	background-color: #999999;
	background-position: center center;
	background-repeat: no-repeat;
}

.page1 .sub-page1 { background-color: rgba(220,0,0,1.0); 		 }
.page1 .sub-page2 { background-color: rgba(220,0,0,0.9); 		 }
.page1 .sub-page3 { background-color: rgba(220,0,0,0.8); 		 }
.page1 .sub-page4 { background-color: rgba(220,0,0,0.7); 		 }
.page1 .sub-page5 { background-color: rgba(220,0,0,0.6); 		 }
.page1 .sub-page6 { background-color: rgba(220,0,0,0.5); 		 }
.page1 .sub-page7 { background-color: rgba(220,0,0,0.4); 		 }
.page1 .sub-page8 { background-color: rgba(220,0,0,0.3); 		 }
.page1 .sub-page9 { background-color: rgba(220,0,0,0.2); 		 }
																	
.page2 .sub-page1 { background-color: rgba(190,0,150,1.0); 		 }
.page2 .sub-page2 { background-color: rgba(190,0,150,0.9); 		 }
.page2 .sub-page3 { background-color: rgba(190,0,150,0.8); 		 }
.page2 .sub-page4 { background-color: rgba(190,0,150,0.7); 		 }
.page2 .sub-page5 { background-color: rgba(190,0,150,0.6); 		 }
.page2 .sub-page6 { background-color: rgba(190,0,150,0.5); 		 }
.page2 .sub-page7 { background-color: rgba(190,0,150,0.4); 		 }
.page2 .sub-page8 { background-color: rgba(190,0,150,0.3); 		 }
.page2 .sub-page9 { background-color: rgba(190,0,150,0.2); 		 }
																	
.page3 .sub-page1 { background-color: rgba(120,0,200,1.0); 		 }
.page3 .sub-page2 { background-color: rgba(120,0,200,0.9); 		 }
.page3 .sub-page3 { background-color: rgba(120,0,200,0.8); 		 }
.page3 .sub-page4 { background-color: rgba(120,0,200,0.7); 		 }
.page3 .sub-page5 { background-color: rgba(120,0,200,0.6); 		 }
.page3 .sub-page6 { background-color: rgba(120,0,200,0.5); 		 }
.page3 .sub-page7 { background-color: rgba(120,0,200,0.4); 		 }
.page3 .sub-page8 { background-color: rgba(120,0,200,0.3); 		 }
.page3 .sub-page9 { background-color: rgba(120,0,200,0.2); 		 }
																	
.page4 .sub-page1 { background-color: rgba(0,0,180,1.0); 		 }
.page4 .sub-page2 { background-color: rgba(0,0,180,0.9); 		 }
.page4 .sub-page3 { background-color: rgba(0,0,180,0.8); 		 }
.page4 .sub-page4 { background-color: rgba(0,0,180,0.7); 		 }
.page4 .sub-page5 { background-color: rgba(0,0,180,0.6); 		 }
.page4 .sub-page6 { background-color: rgba(0,0,180,0.5); 		 }
.page4 .sub-page7 { background-color: rgba(0,0,180,0.4); 		 }
.page4 .sub-page8 { background-color: rgba(0,0,180,0.3); 		 }
.page4 .sub-page9 { background-color: rgba(0,0,180,0.2); 		 }
																	
.page5 .sub-page1 { background-color: rgba(0,150,190,1.0); 		 }
.page5 .sub-page2 { background-color: rgba(0,150,190,0.9); 		 }
.page5 .sub-page3 { background-color: rgba(0,150,190,0.8); 		 }
.page5 .sub-page4 { background-color: rgba(0,150,190,0.7); 		 }
.page5 .sub-page5 { background-color: rgba(0,150,190,0.6); 		 }
.page5 .sub-page6 { background-color: rgba(0,150,190,0.5); 		 }
.page5 .sub-page7 { background-color: rgba(0,150,190,0.4); 		 }
.page5 .sub-page8 { background-color: rgba(0,150,190,0.3); 		 }
.page5 .sub-page9 { background-color: rgba(0,150,190,0.2); 		 }
																	
.page6 .sub-page1 { background-color: rgba(0,190,130,1.0); 		 }
.page6 .sub-page2 { background-color: rgba(0,190,130,0.9); 		 }
.page6 .sub-page3 { background-color: rgba(0,190,130,0.8); 		 }
.page6 .sub-page4 { background-color: rgba(0,190,130,0.7); 		 }
.page6 .sub-page5 { background-color: rgba(0,190,130,0.6); 		 }
.page6 .sub-page6 { background-color: rgba(0,190,130,0.5); 		 }
.page6 .sub-page7 { background-color: rgba(0,190,130,0.4); 		 }
.page6 .sub-page8 { background-color: rgba(0,190,130,0.3); 		 }
.page6 .sub-page9 { background-color: rgba(0,190,130,0.2); 		 }
																	
.page7 .sub-page1 { background-color: rgba(0,190,0,1.0); 		 }
.page7 .sub-page2 { background-color: rgba(0,190,0,0.9); 		 }
.page7 .sub-page3 { background-color: rgba(0,190,0,0.8); 		 }
.page7 .sub-page4 { background-color: rgba(0,190,0,0.7); 		 }
.page7 .sub-page5 { background-color: rgba(0,190,0,0.6); 		 }
.page7 .sub-page6 { background-color: rgba(0,190,0,0.5); 		 }
.page7 .sub-page7 { background-color: rgba(0,190,0,0.4); 		 }
.page7 .sub-page8 { background-color: rgba(0,190,0,0.3); 		 }
.page7 .sub-page9 { background-color: rgba(0,190,0,0.2); 		 }
																	
.page8 .sub-page1 { background-color: rgba(180,220,0,1.0); 		 }
.page8 .sub-page2 { background-color: rgba(180,220,0,0.9); 		 }
.page8 .sub-page3 { background-color: rgba(180,220,0,0.8); 		 }
.page8 .sub-page4 { background-color: rgba(180,220,0,0.7); 		 }
.page8 .sub-page5 { background-color: rgba(180,220,0,0.6); 		 }
.page8 .sub-page6 { background-color: rgba(180,220,0,0.5); 		 }
.page8 .sub-page7 { background-color: rgba(180,220,0,0.4); 		 }
.page8 .sub-page8 { background-color: rgba(180,220,0,0.3); 		 }
.page8 .sub-page9 { background-color: rgba(180,220,0,0.2); 		 }
																	
.page9 .sub-page1 { background-color: rgba(255,160,0,1.0); 		 }
.page9 .sub-page2 { background-color: rgba(255,160,0,0.9); 		 }
.page9 .sub-page3 { background-color: rgba(255,160,0,0.8); 		 }
.page9 .sub-page4 { background-color: rgba(255,160,0,0.7); 		 }
.page9 .sub-page5 { background-color: rgba(255,160,0,0.6); 		 }
.page9 .sub-page6 { background-color: rgba(255,160,0,0.5); 		 }
.page9 .sub-page7 { background-color: rgba(255,160,0,0.4); 		 }
.page9 .sub-page8 { background-color: rgba(255,160,0,0.3); 		 }
.page9 .sub-page9 { background-color: rgba(255,160,0,0.2); 		 }
 
h1 {
	font-size: 32px;
	font-size: 2rem;
	letter-spacing: 0.05em;
	padding: 2% 0;
}

.fragmentsList {
	font-size: 2em;
	margin-left: 30%;
}

/* DEMO LOGIC */

.switches {
	font-family: Verdana, sans-serif;
	text-align: right;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	background-color: #222222;
	background-color: rgba(0,0,0,0.5);
}

.switches p {
	font-size: 0.8em;
	margin: 0.6em;
}

/* CREDITS */

.credits {
	font-family: Verdana, sans-serif;
	text-align: right;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 100;
	background-color: #222222;
	background-color: rgba(0,0,0,0.5);
}

.credits p {
	font-size: 0.8em;
	margin: 0.6em;
}

a, a:link, a:visited, a:hover, a:active {
	color: #7cb2ee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* NAVIGATION */

.navigation {
	font-size: 12px;
	font-family: Verdana, sans-serif;
	text-align: left;
	padding: 1em;
	position: fixed;
	bottom: 150px;
	left: 0;
	z-index: 100;
	background-color: #222222;
	background-color: rgba(0,0,0,0.5);
}

.navigation ul {
	list-style-type: none;
}